.carrossel-container {
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory;
  padding: 20px 0;
  margin-left: 2rem;
  scrollbar-width: thin; 
  scrollbar-color: #064296 #f2f2f2; 
}

.carrossel-container::-webkit-scrollbar {
  width: 8px; 
}

.carrossel-container::-webkit-scrollbar-track {
  background-color: #f2f2f2; 
}

.carrossel-container::-webkit-scrollbar-thumb {
  background-color: #064296; 
  border-radius: 3px; 
}

.carrossel-item {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  scroll-snap-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carrossel-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.carrossel-item p {
  font-size: 14px;
}
